@import "fonts/plex/css/ibm-plex.min.css";

html {
  font-size: 21px;
}

@media (max-width: 700px) {
  html {
    font-size: 19px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 17px;
  }
}

body {
  font-family: "IBM Plex Serif", serif;
  line-height: 1.4;
  margin: auto;
  max-width: 33rem;
  padding: 0.5rem 0.5rem 5rem 0.5rem;
}

h1,
h2,
.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

img {
  width: 100%;
}

blockquote {
  font-style: italic;
}

code {
  font-family: "IBM Plex Mono", monospace;
  background-color: whitesmoke;
}

pre {
  background-color: whitesmoke;
  overflow: scroll;
  padding: 1rem;
}

p > code {
  padding: 0 0.25rem;
}

a {
  color: Black;
}

header,
header a {
  color: dimgray;
}

header {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 0.03em;
}

footer,
footer a {
  color: dimgray;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem 0;
}

.posts {
  list-style-type: none;
}

.posts li {
  padding: 1rem 0;
}

.date,
.comments {
  font-style: italic;
}

.title {
  font-size: 1.5rem;
}

.sc {
  font-variant: small-caps;
}
