html {
  font-size: 2vw;
}

body {
  max-width: 26rem;
  padding: 0;
}

#slides {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  max-width: inherit;
}

.slide-number {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 80vh;
  object-fit: contain;
}

pre {
  margin: 0 -6rem;
}
