html {
  font-size: 2vw;
}

body {
  max-width: 26rem;
  padding: 0;
}

#slides {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.slide-number {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
